{#
/**
* @file
* Template for a Secret element.
*
* Available variables:
* - value: The secret value.
*
* @ingroup themeable
*/
#}

{% set id = 'secret-id-' ~ random() %}

{{ attach_library('apigee_edge/apigee_edge.secret') }}
<div class="secret field__item" id={{ id }}>
  <div class="secret__value">{{ value }}</div>
  <span class="secret__value__hidden" aria-hidden="true">**********</span>
  
  <span class="secret__toggle" title="{{ 'Toggle key visibility'|t }}" aria-controls="{{ id }}">
    <a class="secret__toggle__show" href="#"><img src="/profiles/contrib/odplite/themes/custom/ezdevportal_theme/images/eye-on.png" title="{{ 'Show key'|t }}" /></a>
    <a class="secret__toggle__hide" href="#"><img src="/profiles/contrib/odplite/themes/custom/ezdevportal_theme/images/eye-off.png" title="{{ 'Hide key'|t }}" /></a>
  </span>
</div>
